<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!--mysql:mysql-connector-mxj:5.0.12-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- For performance reasons changed to MyISAM from org.hibernate.dialect.MySQLInnoDBDialect -->
        <property name="dialect">org.hibernate.dialect.MySQL55Dialect</property>

        <!-- Database Settings -->
        <property name="connection.url">jdbc:mysql://localhost:3306/hiberEx1</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1231231234</property>
        
        <!-- Properties -->

        <property name="connection.autocommit">true</property>

        <property name="hbm2ddl.auto">update</property>

        <property name="showsql">true</property>
        <!--<mapping class="domain.Pojo" ></mapping>-->

    </session-factory>

</hibernate-configuration>